.table-view .column-header-background {
    -fx-background-radius: 10 10 0 0;
}

.table-view .column-header {
    -fx-background-color: #1b4965;
    -fx-font-size: 16px;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-padding: 10;
}

.table-row-cell {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-font-size: 15px;
}

.table-cell {
    -fx-alignment: CENTER;
}

.table-row-cell:odd {
    -fx-background-color: #cae9ff;
}

.table-view .scroll-bar {
    -fx-pref-height: 0;
    -fx-max-height: 0;
    -fx-opacity: 0;
}